@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Marvel, cursive;
}

body {
    background: darkred;
    color: blue;
}

/* Ouiz start page */
#banner, start-quiz {
    margin-top: 7%;
}

.logo {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

/* Quiz heading and Question*/
h1 {
    font-size: 5.4rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;   
}

h2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
}

/* To Hide and unhide elements*/
.hide {
    display: none;
}

/* Answer choices*/
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background-color: white;
    font-size: 3rem;
    min-width: 80rem;
    height: 5rem;
}

.choice-container:hover {
cursor: pointer;
background-color: yellowgreen;
}

/* Score display*/
.scores, #score {
    font-size: 3.5rem;
    color: white;
    text-align: right;
    margin-right: 20px;
}

/* Set selected answer and disable clicks*/
.disable-selected-element {
    background-color: yellowgreen;
    color: blue;
    pointer-events: none;
}

/* Disable clicks on other answer choices after selected answer*/
.disable-element {
    color: gray;
    pointer-events: none;
}

/* Button layout*/
.button-layout {
    font-family: Marvel, cursive;
    font-size: 2rem;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Media Queries*/
@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }  

    #banner {
        width: 70%;
        margin: 0 auto;
        margin-top: 50%;
    }

    .score-area {
        position: relative;
        float: right;
    }

}

@media screen and (max-width: 400px) {
    * {
        font-size: 20%;
    }

    #banner {
        width: 50%;
        margin: 0 auto;
        margin-top: 30%;
    }

    .button-layout {
        font-family: Marvel, cursive;
        font-size: 2rem;
        width: 50px;
        height: 20px;
        margin-top: 20px;
    }  
}
